@charset "UTF-8";
@font-face {
  font-family: Noah-Bold;
  src: url(../fonts/Noah-Bold.ttf);
}
@font-face {
  font-family: Noah-Regular;
  src: url(../fonts/Noah-Regular.ttf);
}
@font-face {
  font-family: MarckScript-Regular;
  src: url(../fonts/MarckScript-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-columns: 1fr 40% 20%;
  grid-template-rows: 1fr;
  gap: 2px;
  width: 100%;
  height: 98vh;
  padding-top: 2rem;
}

.header {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("/assets/images/main/Rectangle101.png");
} /*тут картинка под меню*/
.header__logo {
  padding-left: 4rem;
} /*логопотип в header слева*/
.header__nav {
  padding-top: 3rem;
  font-family: Noah-Regular;
} /*меню*/
.header__nav-menu {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  font-size: 14pt;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.header__nav a:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2);
} /*подчеркивание под пунктами меню при наведении*/
.header__contact {
  padding-top: 1rem;
  font-family: Noah-Regular;
}

.header__consulting {
  padding-top: 0.5rem;
  padding-left: 1.2rem;
  font-size: 11pt;
  color: rgb(255, 255, 255);
}

.header__phone {
  width: 13rem;
  height: 3.75rem;
  padding-top: 1.3rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: 14pt;
  background-color: rgb(255, 255, 255);
}

.header__pictures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  gap: 2rem;
  border: 1px solid white;
}

.header__text {
  color: rgb(255, 255, 255);
  border: 1px solid white;
}

.header__leaves {
  width: 31rem;
  height: 23rem;
  border: 1px solid white;
}

.main__explanation-leaves {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 1fr;
}

.main__explanation-ll {
  width: 19vw;
  padding-top: 75%;
}

.main__explanation-rl {
  width: 19vw;
  padding-top: 75%;
}

.main__explanation-text {
  padding-top: 15%;
  text-align: center;
}

.main__examples {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 75vh;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.examples__pic1, .examples__pic2, .examples__pic3 {
  width: 30em;
  height: 23em;
  padding: 1%;
}

.main__trust-title {
  text-align: center;
  line-height: 1.5;
}

.main__trust-title1 {
  font-family: Noah-Bold;
  font-size: 35pt;
}

.main__trust-title2 {
  font-family: Noah-Regular;
  font-size: 25pt;
  font-weight: 100;
}

.main__trust-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding-top: 6%;
}

.main__trust-options {
  background-image: url("/assets/images/main/Group197.png");
  background-size: 65% 95%;
  background-repeat: no-repeat;
  background-position: center center;
}

.trust-options__pictures {
  padding-left: 6%;
}

.trust-options__title {
  font-family: Noah-Regular;
  font-size: 12pt;
  text-align: center;
  padding-bottom: 2.5%;
}

.pictures__wrap {
  position: relative;
  top: 0;
  left: 0;
}

.pictures__example1 {
  position: relative;
  top: 0;
  left: 5%;
  width: 90%;
}

.pictures__example2 {
  position: absolute;
  top: 85%;
  left: 45%;
  width: 60%;
}

.trust-options__points {
  display: grid;
  grid-template-columns: 10% 1fr;
  padding-top: 12%;
  padding-left: 10%;
  padding-bottom: 10%;
}

.logo-2, .logo-3 {
  padding-top: 25vh;
}

.logo-2 {
  padding-left: 3.5vw;
}

.logo-3 {
  padding-left: 6.5vw;
}

.points__text {
  padding-top: 1vh;
  padding-left: 2vw;
  font-family: Noah-Regular;
}

.points__text-2, .points__text-3 {
  padding-top: 28vh;
}

.points__text-2 {
  padding-left: 3vw;
}

.points__text-3 {
  padding-left: 6vw;
}

.main__do {
  padding-top: 15%;
  font-family: Noah-Regular;
}

.main__do-title {
  text-align: center;
  font-size: 26pt;
  font-weight: 100;
}

.main__service {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  gap: 9%;
}

.service1__title {
  font-size: 16pt;
  padding-bottom: 7%;
}

.service1__points {
  padding-left: 5%;
  line-height: 1.5;
}

.points1 {
  padding-bottom: 10%;
}

.service2__title {
  font-size: 16pt;
  padding-bottom: 7%;
}

.service2__points {
  padding-left: 5%;
  line-height: 1.5;
}

.points2 {
  padding-bottom: 10%;
}

.service3__title {
  font-size: 16pt;
  padding-bottom: 7%;
}

.service3__points {
  padding-left: 5%;
  line-height: 1.5;
}

.points3 {
  padding-bottom: 10%;
}

.main__service-button {
  padding-top: 2%;
  padding-bottom: 3%;
  text-align: center;
}

.service-button {
  width: 13%;
  height: 5vh;
  font-family: Noah-Regular;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 90, 47);
}

.main__choose {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.main__journal {
  position: absolute;
}

.journal__pic {
  position: absolute;
  top: 0;
  left: 0;
}

.main__form {
  padding-top: 14%;
  padding-bottom: 15%;
  font-family: Noah-Regular;
}

.main__choose-title {
  width: 85vw;
  padding-left: 60%;
  padding-bottom: 2%;
  font-size: 24pt;
  font-weight: 100;
}

.main__choose-form {
  padding-top: 2%;
  padding-bottom: 5%;
  background-color: rgb(153, 161, 142);
  border: none;
}

.form {
  padding-left: 62%;
  line-height: 2;
}

.choose-form__title {
  font-size: 12pt;
}

.choose-form__email {
  width: 60%;
  height: 4vh;
}

.personal__text {
  font-size: 9pt;
}

.main__choose-button {
  padding-top: 1%;
  padding-left: 62%;
}

.choose-button {
  width: 30%;
  height: 5vh;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 90, 47);
}

.main__projects {
  padding-top: 10%;
  padding-left: 3%;
  padding-right: 3%;
}

.main__projects-title {
  font-family: Noah-Regular;
  font-weight: 100;
  font-size: 27pt;
  text-align: center;
}

.main__projects-pic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  gap: 0.5%;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 5%;
}

.project {
  width: 100%;
}

.projects__button {
  position: absolute;
  top: 42%;
  left: 46.5%;
  font-family: Noah-Regular;
}

.all_button {
  width: 80%;
  height: 15vh;
  padding-top: 0.5%;
  border-radius: 70%;
}

.all_button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(84, 90, 47);
}

.main__dreams {
  padding-top: 4%;
}

.main__titles {
  text-align: center;
  font-family: Noah-Regular;
}

.dreams__points {
  display: grid;
  grid-template-columns: 5% 1fr 5% 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 5%;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 5%;
}

.points__number-1, .points__number-2, .points__number-3, .points__number-4 {
  font-family: MarckScript-Regular;
  font-size: 35pt;
}

.dreams__points-title {
  font-family: Noah-Bold;
}

.dreams__points-1, .dreams__points-2, .dreams__points-3, .dreams__points-4 {
  font-family: Noah-Regular;
}

.dreams__points-3, .dreams__points-4 {
  padding-top: 7%;
}

.dreams__points-2, .dreams__points-4 {
  padding-left: 5%;
}

.points__number-2, .points__number-4 {
  padding-left: 2vw;
}

.points__number-3, .points__number-4 {
  padding-top: 5vh;
}

/*Тут часть "Почему нас выбирают*/
.main__why {
  padding-top: 5%;
  background-color: #DDE3E1;
}

.main__why-title {
  font-family: Noah-Regular;
  font-size: 25pt;
  font-weight: 100;
  text-align: center;
}

.main__why-points {
  display: grid;
  grid-template-columns: 1fr 1fr 15%;
  grid-template-rows: 1fr 1fr;
  padding-top: 5%;
  padding-left: 13%;
  padding-right: 13%;
  padding-bottom: 5%;
  font-family: Noah-Regular;
}

.why-points__reason1, .why-points__reason2 {
  width: 15vw;
  padding-left: 10%;
}

.why-points__reason4, .why-points__reason5 {
  padding-top: 7%;
  padding-left: 60%;
}

.reasons__text {
  padding-top: 5%;
}

/*Тут начинается часть Отзывы о нас*/
.main__feedback {
  padding-top: 8%;
}

.main__feedback-title {
  font-family: Noah-Regular;
  font-size: 30pt;
  font-weight: 100;
  text-align: center;
}

.feedback__example {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 15%;
  padding-bottom: 3%;
  font-family: Noah-Regular;
}

.feedback__pic {
  width: 90%;
}

.feedback {
  width: 35vw;
  padding-left: 7%;
}

.feedback__logo {
  color: #5B6460;
}

.feedback__title, .feedback__title2 {
  color: #5B6460;
}

.feedback__title {
  font-size: 20pt;
  font-weight: 100;
}

.feedback__title2 {
  padding-top: 1%;
  font-size: 12pt;
  font-weight: 100;
}

.feedback__text {
  padding-top: 5%;
  font-size: 16pt;
  font-weight: 100;
}

.feedback__arrows {
  padding-top: 7%;
  padding-left: 25vw;
}

.feedback__numbers {
  padding-top: 1%;
  padding-left: 45%;
  padding-bottom: 5%;
}

/*Часто задаваемые вопросы*/
.points {
  max-width: 1024px;
  padding: 0 20px;
  margin: 5% 10%;
}

/* скрываем чекбоксы и блоки с содержанием */
.hide,
.hide + label ~ div {
  display: none;
}

/* вид текста label */
.hide + label {
  display: grid;
  grid-template-columns: 5% 1fr;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* вид текста label при активном переключателе */
.hide:checked + label {
  color: rgb(26, 26, 24);
  border-bottom: 0;
}

/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
  display: grid;
  background: #ffffff;
  box-shadow: inset 3px 3px 10px #dadada;
  padding: 2vw;
  /* чуточку анимации при появлении */
  animation: fade ease-in 0.5s;
}

/* анимация при появлении скрытых блоков */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hide + label:before {
  display: grid;
  width: 3vw;
  height: 6vh;
  padding-top: 5%;
  font-size: 16pt;
  font-weight: bold;
  line-height: 5%;
  color: rgb(84, 90, 47);
  border-color: rgb(84, 90, 47);
  text-align: center;
  border-radius: 50%;
  content: "+";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 1px solid rgb(84, 90, 47);
}

.hide:checked + label:before {
  content: "−";
}

/*Здесь футер*/
.footer {
  display: grid;
  grid-template-columns: 35% 1fr 20%;
  grid-template-rows: 1fr;
  gap: 2px;
  width: 100%;
  height: 14rem;
  background-color: #545A2F;
}

.footer__contacts {
  padding-top: 3.5rem;
  padding-left: 5rem;
  font-family: Noah-Regular;
  color: rgb(255, 255, 255);
}

.footer__email {
  padding-top: 1rem;
}

.footer__copyright {
  padding-top: 5rem;
  font-size: 9pt;
}

.footer__img {
  padding-top: 1.5rem;
  padding-left: 7rem;
}

.footer__instagram {
  padding-top: 2.5rem;
  padding-left: 10rem;
}

.footer__confidential {
  padding-top: 6rem;
  padding-left: 3rem;
  font-family: Noah-Regular;
  font-size: 9pt;
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=style_index.css.map */