// Цвета
$HakiDark: rgba(84, 90, 47, 1);
$HakiLight: rgba(153, 161, 142, 1);
$Brown: rgba(99, 83, 62, 1);
$Black: rgba(26, 26, 24, 1);
$White: rgba(255, 255, 255, 1);
// Шрифты
@font-face {
    font-family: Noah-Bold;
    src: url(../fonts/Noah-Bold.ttf);
}
@font-face {
    font-family: Noah-Regular;
    src: url(../fonts/Noah-Regular.ttf);
}
@font-face {
    font-family: MarckScript-Regular;
    src: url(../fonts/MarckScript-Regular.ttf);
}

// header
.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    justify-content: center;
    background-image: url(../images/portfolio/main_foto.png);
    background-size: cover;
    width: 100%;
    height: 25em;
    margin-bottom: 130px;
}
.header__title {
    color: $White;
    font-family: Noah-Bold;
    font-weight: 700;
    font-size: 70px;
    line-height: 88px;
}
.header__text {
    color: $White;
    font-family: Noah-Regular;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
}

// Основной контент
// Галерея 1
.main {
    border: 2px solid red;
    display: grid;
    justify-items: center;
    justify-content: center;
}
.main__galery1 {
    border: 1px solid black;
    max-width: 1136px;
    max-height: 1080px;
    display: grid;
}
.title__h2 {
    color: $Black;
    font-family: Noah-Regular;
    font-weight: 400;
    font-size: 58px;
    line-height: 72px;
}
.galery__text {
    max-width: 598px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}
.text__h6 {
    color: $Black;
    font-family: Noah-Regular;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.text__h5 {
    color: $Black;
    font-family: Noah-Regular;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}
.galery__images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-area: 
    "galery1_img1 galery1_img2 galery1_img2"
    "galery1_img3 galery1_img4 galery1_img5";
}
.galery1_img1 {
    grid-template-areas: galery1_img1;
}
.galery1_img2 {
    grid-template-areas: galery1_img2;
}
.galery1_img3 {
    grid-template-areas: galery1_img3;
}
.galery1_img4 {
    grid-template-areas: galery1_img4;
}
.galery1_img5 {
    grid-template-areas: galery1_img5;
}
.galery__images > img {
    max-height: 386px;
}